{% extends "base.html" %}

{% block title %}
    PokéPress - Pokédex
{% endblock title %}


{% block content %}

    <div>
        <h3 style="font-weight: bold; text-align: center"> {{ pokemon }} </h3>
        <div class="stats-font row">
            <img src="{{ sprite }}" width="425" height="425">
            <ul> {% for stats in stats %}
                <li>{{ stats.stat.name }}: {{ stats.base_stat }} base points</li>
                {% endfor %}
            </ul>
        </div>
    </div>

<!-- The chart leaves somes extra characters right before and after it. ??? -->

    <div>
        {{ rendered_chart_svg|safe }}
    </div>

{% endblock content %}


