{% extends "base.html" %}

{% block title %}
    PokéPress
{% endblock title %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4">POKÉPRESS</h1>
  <p class="lead">Welcome to the  premier social site for Pokémon.</p>
  <hr class="my-4">
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'graph' %}" role="button">View a pokémon's stats in a graph here!</a>
  </p>
  <p>  
    <a class="btn btn-primary btn-lg" href="{% url 'chart' %}" role="button">View a pokémon's stats in a chart here!</a>
  </p>
</div>


{% endblock content %}


