{% extends 'base.html' %}

{% block title %}
    PokéPress - Teams
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <h1>Trainer Teams</h1>
        {% if load_link is True %}
            <a href="create_team/">No team?! Create a team here!</a>
        {% endif %}
        {% for team in all_teams %}
            <!-- <a href="{% url "view_teams" team.teamname %}"> -->
                <div class="card card-signin card-user my-5">
                    <img src="{{ user.gravatar }}" />
                    <h5 class="card-title text-center">@{{ team.teamname }}</h5>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
